body{
    color: #16213E;
    margin: auto;
    font-family: 'Basteleur-Moonlight', sans-serif;
    background: linear-gradient(to right, #002E5D, #002E5D, #2774ae);
}

@font-face {
    font-family: 'Basteleur-Moonlight';
    src: url('./webfonts/Basteleur-Moonlight.woff') format('woff2');
    font-weight: normal;
    font-style: normal;
}
.kotak{
    width: 1200px;
    height: 520px;
    background-color: white;
    border-radius: 10px;
    margin: 80px auto;
    display: flex;
    overflow: hidden;
}
.form-login{
    display: flex;
    flex-direction: column;
    padding: 50px 0px 50px 50px;
    width: 600px;
}
.kotak-login{
    background-color: #16213E;
    border-radius: 10px;
    width: 600px;
    display: flex;
    margin: 15px;
}
.kotak-login img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
    border-radius: 10px;
}
.form-login form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
}
.form-login h1{
    font-size: 30px;
    margin-left: 12px;
    margin-bottom: 70px;
}
.form-login input{
    width: 410px;
    /* height: 40px; */
    border-radius: 5px;
    border: none;
    background: none;
    outline: none;
    color: #16213E;
}
.form-login label, p{
    margin-left: 12px;
}
.icon img{
    width: 24px;
    height: 24px;
}
.input-login{
    display: flex;
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
    width: 400px;
    margin-left: 11px;
}
.input-login:focus-within{
    border: 2px solid #16213E;
}
.btn-login{
    font-family: 'Basteleur-Moonlight', sans-serif;
    margin-top: 25px;
    margin-left: 11px;
    background: linear-gradient(30deg,#16213E 30%, #2EC4B6 100%);
    outline: none;
    width: 425px;   
    height: 50px;
    border-radius: 10px;
    color: #EAF6F6;
    cursor: pointer;
}
.create-account{
    margin-top: -20px;
}
.create-account a{
    text-decoration: none;
    color: #2EC4B6;
    font-size: 14px;
}
.create-account a:hover{
    color: #20867c;
}
.create-account p{
    font-size: 14px;
    margin: 25px 0px 0px 100px;
}
.btn-login:hover{
    /* background: linear-gradient(30deg,#2EC486 30%, #16213E 100%); */
     background: linear-gradient(30deg,#0f172a 30%, #1d8f85 100%);
    /* filter: brightness(80%); */
}
